@charset "UTF-8";

/* ベースフォントと色 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* 検索ボックスのスタイル */
#search-box {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica', sans-serif;
}

/* ラベルのスタイル */
#search-box label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #444;
}

/* インプットフィールドのスタイル */
#search-box input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

/* ボタンのスタイル */
#search-box button {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* ボタンホバー時のエフェクト */
#search-box button:hover {
    background-color: #218838;
}

/* 検索結果のスタイル */
#search-box h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #444;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600; 
}

#search-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #666;
    font-weight: bold;
    margin-bottom: 5px;
}

/* 現在地取得ボタン内の画像サイズを調整 */
#search-box button img {
    width: 20px;  /* 画像の幅を指定 */
    height: 20px; /* 画像の高さを指定 */
    vertical-align: middle;  /* テキストと画像を縦に揃える */
    margin-right: 8px;  /* 画像とテキストの間に少し余白を追加 */
}

#search-box img {
    width: 50px;  /* 画像の幅を指定 */
    height: 50px; /* 画像の高さを指定 */
    vertical-align: middle;  /* テキストと画像を縦に揃える */
    margin-right: 5px;  /* 画像とテキストの間に少し余白を追加 */
}

/* 画像とテキストの間に線を追加 */
.line {
    display: inline-block;
    width: 33px;    /* 線の長さ */
    height: 5px;    /* 線の太さ */
    margin: 0 10px; /* 画像と線、線とテキストの間の余白 */
    vertical-align: middle;
}

/* 青い直線 */
.straight-line {
    background-color: blue;
    opacity: 0.3;
}

/* 青い点線 */
.dashed-line {
    border-top: 2px dashed blue;
}