<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>folium map</title>
    <style>
        #search-box {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            z-index: 1000;
        }
    </style>
</head>
<body>
    <div style="height:1000px; width:1800px;">
        <!-- Folium mapの表示 -->
        {% include "map.html" %}
    </div>
    <div id="search-box">
        <form id="route-form" method="POST" action="/foliummap">
            <label>出発地:</label><br>
            <input type="text" id="departure" name="departure" placeholder="出発地を入力"><br>
            <label>目的地:</label><br>
            <input type="text" id="destination" name="destination" placeholder="目的地を入力"><br>
            <button type="submit">検索</button>
            <h3>経路の所要時間</h3>
            <p>最短経路: {{ shortest_route_time }} 分</p>
            <p>裏道1: {{ backstreet_route_1_time }} 分</p>
        </form>
    </div>

</body>
</html>
