<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_65ae28ad941d872fcb7b28bf41c9c495 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_65ae28ad941d872fcb7b28bf41c9c495" ></div>
        
</body>
<script>
    
    
            var map_65ae28ad941d872fcb7b28bf41c9c495 = L.map(
                "map_65ae28ad941d872fcb7b28bf41c9c495",
                {
                    center: [39.685524, 141.1294136],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3be2e8deda7ea919f62ed676501d0440 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_3be2e8deda7ea919f62ed676501d0440.addTo(map_65ae28ad941d872fcb7b28bf41c9c495);
        
    
            var marker_0efa9e73a2d7d80a64e93796c195367d = L.marker(
                [39.685524, 141.1294136],
                {}
            ).addTo(map_65ae28ad941d872fcb7b28bf41c9c495);
        
    
            var icon_f3d440bf39f5465e43757042806aa082 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "user", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0efa9e73a2d7d80a64e93796c195367d.setIcon(icon_f3d440bf39f5465e43757042806aa082);
        
    
        var popup_274671d67f7296768ae0c8cd6a9c2101 = L.popup({"maxWidth": "100%"});

        
            
                var html_eb0fd560adac1f3d0c7a59fa3bf2f925 = $(`<div id="html_eb0fd560adac1f3d0c7a59fa3bf2f925" style="width: 100.0%; height: 100.0%;">START</div>`)[0];
                popup_274671d67f7296768ae0c8cd6a9c2101.setContent(html_eb0fd560adac1f3d0c7a59fa3bf2f925);
            
        

        marker_0efa9e73a2d7d80a64e93796c195367d.bindPopup(popup_274671d67f7296768ae0c8cd6a9c2101)
        ;

        
    
</script>
</html>